@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  height: 100svh;
  display: grid;
  place-items: center;
}

button {
  outline: none;
  border: none;
  padding: 0;
  font-size: 1.15rem;
  cursor: pointer;
  color: black;
  font-family: 'Inter', serif;
}

.btn-confetti {
  height: 3rem;
  min-width: 6rem;
  background-color: rgb(250, 250, 191);
  border: 1px dashed rgb(255, 181, 43);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.5);
}

.btn-confetti:active {
  transform: translateY(2px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.btn-settings {
  background-color: transparent;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.settings {
  position: absolute;
  top: 50%;
  background-color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  aspect-ratio: 1.5;
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.message {
  font-size: 1.15rem;
  width: 75%;
  padding: 0.25rem 0.5rem;
  position: relative;
  font-family: 'Inter', serif;
}

.btn-okay {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgb(250, 250, 191);
  border: 1px solid rgb(255, 181, 43);
  border-radius: 8px;
}

.hide {
  display: none;
}
